<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <h2>Order List</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Address</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <%
                    if(orderData.length>0){
                      for(i=0;i<orderData.length;i++){
                        %>
                        <tr>
                          <td><%=orderData[orderData.length-i-1].date.toISOString().substring(0,10)%></td>
                          <td><%=orderData[orderData.length-i-1].deliveryAddress%></td>
                          <td><%=orderData[orderData.length-i-1].totalAmount%></td>
                          <td><%=orderData[orderData.length-i-1].paymentMethod%></td>
                          <td><%=orderData[orderData.length-i-1].status%></td>
                        </tr>
                        <%
                      }
                    }else{
                      %>
                      <p style="color: white;padding: 30px;font-family: Georgia, 'Times New Roman', Times, serif;">Order not found</p>
                      <%
                    }
                    %>
    </tbody>
  </table>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>