<%-include('../partials/userPartials/userHeader.ejs')%>

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="/home">Home</a></span> <span>About</span></p>
            <h1 class="mb-0 bread">Checkout</h1>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div style="margin-left: 300px;margin-top: 200px;">
        <div class="row" style="display: flex; justify-content: space-between;">
            <div class="horizontal" >
                <h3 class="mb-4 mt-3">LOGIN</h3>
                <p class=""><span>Name</span>:&nbsp;&nbsp;&nbsp;<span style="color: black;"><%=userName.name%></span></p>
                <p class="mb-4"><span>Email</span>:&nbsp;&nbsp;&nbsp;<span style="color: black;"><%=userName.email%></span></p>
                <p><a href="/logout" class="btn-custom">Logout and sign in to another account</a></p>
            </div>
            <div class="horizontal">
                <p class="mb-4 mt-3">Advantages of Secure Login</p>
                <br>
                <p class="m-0" style="color: black;">Easy Trach Orders,Hassle free Returns</p>
                <p class="m-0" style="color: black;">Get Relevant Alerts and Recommentation</p>
                <p class="m-0" style="color: black;">Wishlists,Reviews,Rating and More</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-6" style="margin-left: 300px;margin-top: 100px;background-color: rgb(235, 235, 235);">
      <div style="display: flex; justify-content: end;"><a href="/addAddress"><button class="btn btn-danger m-5">Add Address</button></a></div>
      <form action="" id="checkout-form">
      <div class="row">
     <%
     if(address != 0){
        address.forEach((add)=>{
          %>
           <div class="col-md-12 d-flex ftco-animate">
            <div class="col-md-1">
              <input type="radio" value="<%=add.userName%>,<%=add.address%>,<%=add.city%>,<%=add.state%>,<%=add.pincode%>" name="selectAddress">
            </div>
              <div class="blog-entry align-self-stretch">
                <div class="text d-block pl-md-4">
                  <div class="meta">
                    <div><p><span style="color: black;">Name: </span><%=add.userName%></p></div><br>
                    <div><p><span style="color: black;">Mobile: </span><%=add.mobile%></p></div><br>
                    <div><p><span style="color: black;">Alternative Number: </span><%=add.alternativeMob%></p></div><br>
                  </div>
                  <h3 class="heading" style="color: #dbcc8f;"><p>ADDRESS</p></h3>
                  <p><%=add.address%> <%=add.city%> <%=add.state%> <%=add.pincode%></p>
                  <p><%=add.landmark%></p>
                  
                  <p><a href="/removeAddress?id=<%=add._id%>" class="btn btn-primary py-2 px-3">Remove Address</a></p>
                </div>
              </div>
            </div>
          
       
          <%
        })
     }else{
      %>
      <div class="row">
        <p class="pl-5" style="color: red;"><%=message%></p>
      </div>
      <%
     }
     %>
      
    </div>
    </div>
    
    <div class="col-md-4" style="margin-left: 300px;margin-top: 200px;">
      <div class="row">
          <div class="horizontal" style="margin-bottom: 100px">
              <h3 class="mb-4 mt-3">PAYMENT</h3>
              <div class="mb-5">
                <input type="radio" id="COD" value="COD" name="payment">
                <label for="COD" style="color: black;margin: 0;">COD</label><br>
                <small style="margin-left: 17px;">Free delivery charge</small>
              </div>
              <div>
                <input type="radio" id="onlinePayment" value="onlinePayment" name="payment">
                <label for="onlinePayment" style="color: black;margin: 0;">Online Payment</label><br>
                <small style="margin-left: 17px;">UPI,Net Banking,Credit Card...</small>
              </div>
          </div>
      </div>
      <div style="margin-bottom: 150px;">
        <button style="font-size: 20px;padding: 10px 80px 10px 80px;" type="submit" class="btn btn-danger">Place Order</button>
    </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div style="margin-top: 200px;">
        <div style="margin-left: 160px;" class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
          <div class="cart-total mb-3">
            <h2 class="mb-4" style="color: #dbcc8f;">Cart Totals</h2>
            <p class="d-flex">
              <span>Subtotal</span>
              <span>₹ <%=Total%></span>
            </p>
            <p class="d-flex">
              <span>Delivery</span>
              <span>₹0.00</span>
            </p>
            <hr>
            <p class="d-flex total-price">
              <span>Total</span>
              <span id="gt2"><%=Total%></span>
            </p>
          </div>
        </div>
      </form>
        <div style="margin-left: 160px;" class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
          <div class="cart-total mb-3">
            <h2 class="mb-4" style="color: #dbcc8f;">Apply coupon</h2>
            <form>
              <label for="coupon" style="color: black;padding-bottom: 20px;">Coupon Code</label>
              <input style="border: 1px solid rgb(172, 172, 172);margin: 10px;border-radius: 8px;padding: 8px;" id="code" type="text" placeholder="enter coupon code">
              <button type="button" class="btn btn-primary" onclick="applycoupon($('#code').val())">Apply</button>
            </form>
            <hr>
            <p class="d-flex total-price">
              <span>Total</span>
              <span id="gt2"><%=Total%></span>
            </p>
            <p class="d-flex total-price">
              <span>discount</span>
              <span id="gt3">0</span>
            </p>
            <hr>
            <p class="d-flex total-price">
              <span>Wallet</span>
              <span id="gt5"><%=userName.wallet%></span>
            </p>
            <hr>
            <p class="d-flex total-price">
              <span>Total</span>
              <span id="gt4"><%=grandTotal%></span>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>


<script>
  $("#checkout-form").submit((e)=>{
    const amount = document.getElementById("gt4").innerHTML;
    const amount2 = document.getElementById("gt2").innerHTML;
    const discount = document.getElementById("gt3").innerHTML;
    let address = $("input[name=selectAddress]:checked").val();
    let payment = $("input[name=payment]:checked").val();
    e.preventDefault();
    $.ajax({
      url:"/checkout",
      method:"post",
      data:{
        amount:amount,
        total:amount2,
        discount:discount,
        address:address,
        payment:payment
      },
      success:(response)=>{
        if(response.codSuccess==true){
          location.href = "/orderSuccess";
        }else{
          razorpayPayment(response.order);
        }
      }
    })
  })

  function razorpayPayment(order){

          var options = {
              "key": "rzp_test_n0IW2eUop9hlZT", // Enter the Key ID generated from the Dashboard
              "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
              "currency": "INR",
              "name": "Acme Corp", //your business name
              "description": "Test Transaction",
              "image": "https://example.com/your_logo",
              "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
              "handler": function (response){
                  verifyPayment(response, order);
              },
              "prefill": {
                  "name": "Gaurav Kumar", //your customer's name
                  "email": "gaurav.kumar@example.com",
                  "contact": "9000090000"
              },
              "notes": {
                  "address": "Razorpay Corporate Office"
              },
              "theme": {
                  "color": "#3399cc"
              }
          };
          var rzp1 = new Razorpay(options);
              rzp1.open();
        }
  function verifyPayment(payment,order){
    const amount = document.getElementById("gt4").innerHTML;
    const amount2 = document.getElementById("gt2").innerHTML;
    $.ajax({
      url:"/verifyPayment",
      method:"post",
      data:{
        payment,
        amount,
        amount2,
        order
      },
      success:(response)=>{
        if(response.success){
          location.href = '/orderSuccess';
        }else{
          alert('payment failed');
        }
      }
    })
  }

  function applycoupon(code){
    const amount = document.getElementById('gt4').innerHTML;
    console.log(amount);
    $.ajax({
      url:"/applyCoupon",
      data:{  
        code:code,
        amount:amount
      },
      method:"post",
      success:(response)=>{
        console.log(response);
        if(response.user){
          console.log("This User already used this coupon");
          Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'This coupon already used!'
              })
        }else if(response.limit){
          console.log("coupon limit exceeded");
          Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'coupon limit exceeded!'
              })
        }else if(response.status){
          console.log("This coupon now not in use");
          Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'coupon limit exceeded!'
              })
        }else if(response.cartAmount){
          console.log("You cant use the coupon...Buy more");
          Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'You cant use the coupon...Buy more'
              })
        }else if(response.date){
          console.log("coupon date expired");
          Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'date expired!!!'
              })
        }else if(response.amountOkey){
          console.log("discount granded");
          document.getElementById('gt3').innerHTML = response.disAmount
          document.getElementById('gt4').innerHTML = response.disTotal
          console.log("done");
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Discount redeemed',
            showConfirmButton: false,
            timer: 1500
          })
        }else if(response.invalid){
          console.log("invalid coupon");
          Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Invalid Coupon!!!'
              })
        }
      }
    })
  }

</script>


<%-include('../partials/userPartials/userFooter.ejs')%>