<%-include('../partials/userPartials/userHeader.ejs')%>

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/home">Home</a></span> <span>Shop</span></p>
            <h1 class="mb-0 bread">Shop</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-lg-10 order-md-last">
					<form action="" id="search-form" method="post">
						<div style="display: flex;">
							<div style="margin: 40px;">
								<input style="width: 800px;height: 60px;border-radius: 10px;border: none;padding-left: 50px;font-family: Georgia, 'Times New Roman', Times, serif;color: gray;" type="text" name="search" placeholder="Search the products here">
							</div>
							<div style="position: absolute;right: 90px;">
								<button style="border: none;margin: 40px;height: 60px;background-color: #fff;"><img src="/images/search.png" alt="" width="20px"></button>
							</div>
						</div>
					</form>
    				<div class="row">
		    			<%
						if(product.length>0){
							for(let i=0;i<product.length;i++){
								%>
								<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
									<div class="product d-flex flex-column">
										<div style="width: 286px;height: 280px;">
											<a href="/showProduct?id=<%=product[i]._id%>" class="img-prod"><img class="img-fluid" src="/productImages/<%=product[i].image[0]%>" alt="<%=product[i].image[0]%>">
												<div class="overlay"></div>
											</a>
										</div>
										<div class="text py-3 pb-4 px-3">
											<div class="d-flex">
												<div class="cat">
													<span>Lifestyle</span>
												</div>
												<div class="rating">
													<p class="text-right mb-0">
														<a href="#"><span class="ion-ios-star-outline"></span></a>
														<a href="#"><span class="ion-ios-star-outline"></span></a>
														<a href="#"><span class="ion-ios-star-outline"></span></a>
														<a href="#"><span class="ion-ios-star-outline"></span></a>
														<a href="#"><span class="ion-ios-star-outline"></span></a>
													</p>
												</div>
											</div>
											<h3><a href="#"><%=product[i].productName%></a></h3>
											<div class="pricing">
												<p class="price"><span>₹<%=product[i].price%></span></p>
											</div>
											<p class="bottom-area d-flex px-3">
												<button class="add-to-cart text-center py-2 mr-1 btn" style="background-color: black;color: #fff; width: 200px;" onclick="show('<%=product[i]._id%>')">Add to cart</button>
												<a href="#" style="border-radius: 50px;" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
											</p>
										</div>
									</div>
								</div>
								<%
							}
						}
						%>
		    		</div>
		    		<div class="row mt-5">
						<div class="col text-center">
							<div class="block-27">
							  <ul>
								<%
									for(let i=0;i<totalPage;i++){
										%>
										<li><a href="/shop?page=<%=i+1%>" class="active"><%=i+1%></a></li>
										<%
									}
								%>
							  </ul>
							</div>
						  </div>
						</div>
		    	</div>

		    	<div class="col-md-4 col-lg-2">
		    		<div class="sidebar">
							<div class="sidebar-box-2">
								<h2 class="heading">Categories</h2>
								<div class="fancy-collapse-panel">
									<a href="/shop">ALL</a>
                  <%
				 if(category.length>0){
					for(let i=0;i<category.length;i++){
						%>
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="" role="tab" id="headingOne">
									<!-- <h6 class="panel-title"> -->
										
										<a  href="/shop?category=<%=category[i].categoryName%>"><%=category[i].categoryName%>
										</a>
									<!-- </h6> -->
								</div>
							</div>
						 </div>
						<%
					}
				 } 
				  %>
               </div>
							</div>
							<div class="sidebar-box-2">
								<h2 class="heading">Price Range</h2>
								<form method="post" class="colorlib-form-2">
		              <div class="row">
		                <div class="col-md-12">
		                  <div class="form-group">
		                    <label for="guests">Price Range:</label>
		                    <div class="form-field">
		                      <i class="icon icon-arrow-down3"></i>
		                      <select name="people" onchange="location='/shop?value='+value" id="people" class="form-control">
		                        <%
								if(value=='zerothousand'){
									%>
									<option value="all">All Price</option>
									<option value="zerothousand" selected>₹0-₹1000</option>
									<option value="twofivehundred">₹1000-₹2500</option>
									<option value="fivethousand">₹2500-₹5000</option>
									<option value="tenthousand">₹5000-₹10000</option>
									<%
								}else if(value=='twofivehundred'){
									%>
									<option value="all">All Price</option>
									<option value="zerothousand">₹0-₹1000</option>
									<option value="twofivehundred" selected>₹1000-₹2500</option>
									<option value="fivethousand">₹2500-₹5000</option>
									<option value="tenthousand">₹5000-₹10000</option>
									<%
								}else if(value=='fivethousand'){
									%>
									<option value="all">All Price</option>
									<option value="zerothousand">₹0-₹1000</option>
									<option value="twofivehundred">₹1000-₹2500</option>
									<option value="fivethousand" selected>₹2500-₹5000</option>
									<option value="tenthousand">₹5000-₹10000</option>
									<%
								}else if(value=='tenthousand'){
									%>
									<option value="all">All Price</option>
									<option value="zerothousand">₹0-₹1000</option>
									<option value="twofivehundred">₹1000-₹2500</option>
									<option value="fivethousand">₹2500-₹5000</option>
									<option value="tenthousand" selected>₹5000-₹10000</option>
									<%
								}else	{
									%>
									<option value="all" selected>All Price</option>
									<option value="zerothousand">₹0-₹1000</option>
									<option value="twofivehundred">₹1000-₹2500</option>
									<option value="fivethousand">₹2500-₹5000</option>
									<option value="tenthousand">₹5000-₹10000</option>
									<%
								}
								%>
		                      </select>
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </form>
							</div>
						</div>
    			</div>
    		</div>
    	</div>
    </section>
		
		<section class="ftco-gallery">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-8 heading-section text-center mb-4 ftco-animate">
            <h2 class="mb-4">Follow Us On Instagram</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          </div>
    		</div>
    	</div>
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-5.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-6.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>

	<script>
		function show(id){
			$.ajax({
				url:"/addToCart",
				method:"post",
				data:{
					query:id
				},
				success:(response)=>{
					if(response.success){
						Swal.fire({
						position: 'center',
						icon: 'success',
						title: 'Product added to cart',
						showConfirmButton: false,
						timer: 1500
					})
					}
				}
			})
		}

	</script>

    <%-include('../partials/userPartials/userFooter.ejs')%>