<%-include('../partials/userPartials/userHeader.ejs')%>

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="/home">Home</a></span> <span>Cart</span></p>
          <h1 class="mb-0 bread">Order</h1>
        </div>
      </div>
    </div>
  </div>

  <div style="margin: 100px 200px;">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">OrderId</th>
            <th scope="col">Date</th>
            <th scope="col">address</th>
            <th scope="col">Paid</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment</th>
            <th scope="col">Status</th>
            <th scope="col">Cancel/Return</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <%
          if(orderData.length>0){
            for(let i=0;i<orderData.length;i++){
                %>
                <tr>
                    <td><%=orderData[orderData.length-i-1]._id%></td>
                    <td><%=orderData[orderData.length-i-1].date.toISOString().substring(0,10)%></td>
                    <td><%=orderData[orderData.length-i-1].deliveryAddress%></td>
                    <td><%=orderData[orderData.length-i-1].totalAmount%></td>
                    <td><%=orderData[orderData.length-i-1].Amount%></td>
                    <td><%=orderData[orderData.length-i-1].paymentMethod%></td>
                    <td><%=orderData[orderData.length-i-1].status%></td>
                    <td><%
                      if(orderData[orderData.length-i-1].status=='Deliverd'){
                          %>
                          <div class="pricing mt-4">
                              <button class="btn btn-danger py-2 px-3" style="margin-bottom: 20px;" onclick="Cancel('<%=orderData[orderData.length-i-1]._id%>')">Return Order</button>
                          </div>
                          <%
                      }else{
                          %>
                          <div class="pricing mt-4">
                              <button class="btn btn-danger py-2 px-3" style="margin-bottom: 20px;" onclick="Cancel('<%=orderData[orderData.length-i-1]._id%>')">Cancel Order</button>
                          </div>
                          <%
                      }
                      %></td>
                    <td><a href="/viewOrderProducts?id=<%=orderData[orderData.length-i-1]._id%>" class="btn btn-primary py-2 px-3">View Product</a></td>
                  </tr>
                <%
            }
          }else{
            %>
            <tr>
                <td colspan="7"><p>No orders</p></td>
            </tr>
            <%
          }
          %>
        </tbody>
      </table>
  </div>

  <script>
    function Cancel(orderid){
        $.ajax({
            url:"/cancelOrder",
            data:{
                orderid:orderid
            },
            method:"post",
            success:(responce)=>{
                if(responce.success){
                    location.reload()
                }
            }
        })
    }
</script>
  <%-include('../partials/userPartials/userFooter.ejs')%>