<%-include('../partials/userPartials/userHeader.ejs')%>

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/home">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Wishlist</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Quantity</th>
						      </tr>
						    </thead>
						    <tbody>
						   <%
								wish.forEach((wish)=>{
									%>
									<tr class="text-center">
										<td class="product-remove"><a href="/removeWishlist?id=<%=wish.productId._id%>"><span class="ion-ios-close"></span></a></td>
										
										<td class="image-prod"><div class="img" style="width: 200px;"><img src="productImages/<%=wish.productId.image[0]%>" width="100%" alt=""></div></td>
										
										<td class="product-name">
											<h3><%=wish.productId.productName%></h3>
											<p><%=wish.productId.description%></p>
										</td>
										
										<td class="price">₹<%=wish.productId.price%></td>
										<td><button class="btn btn-primary" onclick="show('<%=wish.productId._id%>')" style="padding: 10px 30px;">Add To Cart</button></td>
									  </tr>
									<%
								})
						   %>
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			</div>
		</section>
		<script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
	<script>
		function show(id){
			$.ajax({
				url:"/addFromWish",
				method:"post",
				data:{
					query:id
				},
				success:(response)=>{
					if(response.success){
						location.href = "/cart";
					}
				}
			})
		}
	</script>

        <%-include('../partials/userPartials/userFooter.ejs')%>

